@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

.header {
  background-color: #2e8b57; /* Earthy green */
  color: white; /* White text */
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px; /* Height of the header */
  width: 100%; /* Full width */
}

.left-area h1 {
  margin: 0;
  font-size: 24px;
  font-family: "Playfair Display", serif;
}

#header {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}
